<mat-card-header>
<mat-card-title>
  <h2>Add new user</h2>
</mat-card-title>

</mat-card-header>

<mat-card >
<form >
<mat-dialog-content>

  <mat-form-field style="width: 100%">
    <input matInput placeholder="firstname">
  </mat-form-field>
  <mat-form-field style="width: 100%"><input matInput placeholder="lastname"></mat-form-field>
    
    
    <mat-form-field style="width: 100%"> <input matInput placeholder="Email"></mat-form-field>
    <mat-form-field style="width: 100%"><input matInput placeholder="Address"></mat-form-field>
    <mat-form-field style="width: 100%"> 
    
    <input matInput placeholder="City">
    </mat-form-field>

    <mat-form-field style="width: 100%">
    
    <input matInput placeholder="State">
  </mat-form-field>




</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button>
        Add user
        </button>
        
  <button mat-button mat-dialog-close>
  Cancel
  </button>


</mat-dialog-actions>
</form>

</mat-card>